.box {
  display: inline-block;
  border: 1px solid black;
  width: 10px;
  height: 10px;
  margin: 0 0 -1px -1px;
}

.wall {
  background-color: rgb(48, 48, 48);
}
.ground {
  background-color: lightslategray;
}
.enemy {
  background-color: rgb(97, 0, 0);
}
.weapon {
  background-color: orange;
}
.health {
  background-color: green;
}
.stair-up {
  background-color: rgb(0, 196, 245);
}
.stair-down {
  background-color: rgb(0, 8, 121);
}
.boss {
  background-color: red;
}
.player {
  background-color: rgb(233, 1, 214);
}
.outer {
  background-color: rgb(26, 25, 25);
}

.box:hover {
  background-color: greenyellow;
}

.center {
  margin: auto;
  display: table;
  margin-top: 10px;
}

.grid {
  width: 150px;
  line-height: 0;
  margin: auto;
  box-shadow: 0px 0px 20px white;
  margin-top: 20px;
}

body {
  background-color: pink;
}
