body {
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

a:visited {
    color: rgb(235, 235, 235);
}

.box {
  display: inline-block;
  border: 1px solid black;
  width: 10px;
  height: 10px;
  margin: 0 0 -1px -1px;
}

.wall {
  background-color: rgb(48, 48, 48);
}
.ground {
  background-color: lightslategray;
}
.enemy {
  background-color: rgb(187, 8, 8);
}
.weapon {
  background-color: rgb(255, 238, 0);
}
.health {
  background-color: rgb(4, 255, 4);
}
.stair-up {
  background-color: rgb(0, 196, 245);
}
.hole {
  background-color: rgb(0, 8, 121);
}
.boss {
  background-color: rgb(255, 123, 0);
}
.player {
  background-color: rgb(233, 1, 214);
}
.outer {
  background-color: rgb(43, 43, 43);
}
.dark {
  background-color:black;
}


.center {
  margin: auto;
  display: table;
  margin-top: 10px;
}

.grid {
  width: 150px;
  line-height: 0;
  margin: auto;
  box-shadow: 0px 0px 20px white;
  margin-top: 20px;
}

body {
  background-color: pink;
}
